extends layout
block content

	#login-container.well
		audio(autoplay, src='#{post.audioBlob}')#audioTest    
		video(autoplay controls width="320px", height="240px",src='#{post.videoBlob}')#videoTest
		h2 Title: 
		p.subheading #{post.title}
		h2 Cuerpo: 
		p.subheading #{post.body}
		h2 Tags
		- for (var i = 0; i < post.tags.length; i++)
			p.subheading #{post.tags[i]}
		h2 Comments
		- for (var i = 0; i < post.comments.length; i++)
			p.subheading #{post.comments[i].body} <br><br><b>Autor:</b> #{post.comments[i].author} <b>Fecha:</b> #{post.comments[i].date}
		br
		div.clear-fix
		form( method="post")#add-comment-form.well.span4
			h2 Añadir Comentario
			p.subheading Introduzca su comentario 
			input(type="hidden", name="post_id", value='#{post._id}')
			input(type="hidden", name="author", value='#{udata.name}')
			input(type="hidden", name="title", value='#{post.title}')
			label Comentario
			input(type="text", name="commentBody", id='commentBody').span4.required
			button(type="submit")#btn-submitComment.btn.btn-success
				i.icon-lock.icon-pencil
				| Enviar
			button(type="button")#btn-cancel.btn.btn-danger			
				i.icon-pencil.icon-pencil
				| Volver
			hr      
			div.btm-links